/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/************************************** fonts **************************************/
body {
  font-family: Verdana, sans-serif;
  background-color: papayawhip;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
}

.dropdown, .dropdown select, .dropdown button {
  font-family: Verdana, sans-serif;
}

/************************************** header **************************************/
header {
  background-color: #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/************************************** logo **************************************/
.logo img {
  max-height: 100px;
  margin-left: 20px;
}


/************************************** navigation links **************************************/
nav {
  margin-left: auto;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 5px;
}

nav a {
  font-size: 30px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
}

nav a.active /* for highlighting the current nav header */ {
  color: red;
}

/************************************** dropdown **************************************/
.dropdown {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  color: #000;
  width: 500px;
}


.dropdown select {
  font-size: 15px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #fff;
  color: #555;
  margin-right: 10px;
  width: 100%;
}

.dropdown button {
  font-size: 25px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}


/************************************** slideshow **************************************/
.mySlides {
  filter: brightness(80%) saturate(120%) hue-rotate(-20deg) sepia(30%) blur(1px);
  width: 100%;
  height: 400px;
  object-fit: cover;
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}


/************************************** footer **************************************/
main {
  margin-bottom: 200px; /* fixed space between main content and footer */
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: none;
  color: #000;
  text-align: center;
}

/************************************** About Us **************************************/
.text-container {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #b8b3b2;
  border-radius: 10px;
}

.text-container h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.nav-tabs .nav-link.active {
    background-color: red;
    color: white;
    border: 3px solid;
}

.nav-tabs .nav-link {
    background-color: grey;
    color: white;
    border: 3px solid;
    font-size: 20px;
    border-bottom: 15px;
    padding-bottom: 5px;
    margin-bottom: 2px;

}
.nav-tabs .nav-link:hover {
    background-color: green;
}


/************************************** Future Lot Page **************************************/

.station {
    padding-left: 25rem;
}

p {
    text-indent: 30px;
    text-align: center;
    font-size: 20px;
    background: papayawhip;
    padding: 20px;
}

.info {
    text-align: center;
    background: papayawhip;
}

.col-auto {
    padding-left: 20px;
}

/************************************** map **************************************/
#map {
  width: 700px;
  height: 250px;
  border: thin solid black;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: center;
  }