/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/****************************************************** header and content ********************************************/
header {
    background: rgba(255, 255, 255, 0); /* Transparent background for the header */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 1; /* higher z-index to keep the header on top of other elements */
}


.logo img {
  max-height: 70px;
  margin-left: 50px;
}

/************************************** navigation links **************************************************************/
nav {
  margin-left: auto;
  margin-top: 15px;
}

nav ul {
  display: flex;
  list-style: none;
  height: 100%;
}

nav li {
  margin-right: 5px;
}

nav a {
  font-size: 1.2vw;
  padding: 0 20px;
  padding: 0 2vw;
  font-weight: 80;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center; /* Center the text vertically */
  transition: background-color 0.3s; /* smooth transition effect */
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: transparent; /* Set the initial underline color */
  transition: background-color 0.3s; /* Adding smooth transition effect */
}

nav a:hover {
  color: blue;
}

nav a:hover::after {
  background-color: blue; /* underline color on hover */
}

nav a.active /* active link text color */ {
  color: black;
}

nav a.active::after {
  background-color: black; /* underline color for the active link */
}

/************************************** content ***********************************************************************/

.content-for-index {
    background-image: url('img/bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    height: 600px;
}

.content {
    padding-top: 100px;
}
/************************************** map and text beside it ********************************************************/
#map {
  width: 600px;
  height: 800px;
  border: thin solid black;
  margin: 300px  0 0 100px; /* Center horizontally and set margin-top to 300px */
}




/************************************** dropdown **********************************************************************/

.dropdown {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #000;
  width: 500px;
  padding-top: 300px;
}


.dropdown select {
  font-size: 15px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: transparent;
  color: #555;
  margin-right: 10px;
  width: 100%;
  background: white;
}

.dropdown button {
  font-size: 25px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}



/************************************** footer ************************************************************************/

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: none;
  color: #000;
  text-align: center;
}

/************************************** About Us **********************************************************************/
.text-container {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #b8b3b2;
  border-radius: 10px;
}

.text-container h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.nav-tabs .nav-link.active {
    background-color: red;
    color: white;
    border: 3px solid;
}

.nav-tabs .nav-link {
    background-color: grey;
    color: white;
    border: 3px solid;
    font-size: 20px;
    border-bottom: 15px;
    padding-bottom: 5px;
    margin-bottom: 2px;

}
.nav-tabs .nav-link:hover {
    background-color: green;
}


/************************************** Future Lot Page ***************************************************************/

.station {
    padding-left: 25rem;
}

p {
    text-indent: 30px;
    text-align: center;
    font-size: 20px;
    background: papayawhip;
    padding: 20px;
}

.info {
    text-align: center;
    background: papayawhip;
}

.col-auto {
    padding-left: 20px;
}


